.form {
  max-width: 385px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.form__input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__input::placeholder {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.form__button {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 32px;
  border: none;
  background-color: #1878dc;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.05s;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__label {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
