.header {
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  height: 800px;
  background-image: url(../images/background_header.svg);
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: -1;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  max-width: 683px;
}

.header__title {
  margin: 183px 0 0 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
}

.header__description {
  margin: 28px 0 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__footer {
  margin: auto 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
