.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 20px;
  margin: 0;
  padding-left: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.nav__link:hover {
  opacity: 50%;
}
